.header {
    background-color: #1f2937;
    display: flex;
}

ul {
    list-style: none;
    color: white;
}


.link-left {
    display: flex;
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    
}

.link-right {
    display: flex;
    font-size: 18px;
    column-gap: 7px;
    margin-right: 15px;
    
}

a {
    text-decoration: none;
    color: white;
}



.container-one {
    display: flex;
    height: 400px;
    background-color: #1f2937;
    
}

.text {
    min-width: 400px;
    color: white;
}

.text h1 {
    font-size: 48px;
    font-weight: bolder;
}

.button-top {
    background-color: blue;
    border-radius: 9px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: 33px;
    width: 95px;
    margin-top: 15px;
}

.container-one .text img {
    width: 400px;
    height: 100px;
}